<div class="navbar">
	<a class="logo" href="/">
	  HELP IN NEED
	</a>
	<a class="" href="/about">
		ABOUT
	</a>
	{{#if total}}
		<a class="right">
			REPORTS: {{total}}
		</a>
	{{/if}}
	<a class="right icon fb" href="https://www.facebook.com/helpinneedbot" target="_blank">
	</a>
</div>
