<div id="about">
	<div class="box">
		<div class="row header">
			{{> navbar}}
		</div>
		<div class="page">
			<h1>About Help In Need Bot</h1>
			This bot will empower members of the community by fostering help for each other. If you want to help someone, all you have
			to do is open Facebook Messenger and search for "Help In Need". Once a conversation is started, you will be able
			to choose

			<ul>
				<li>Report the location of someone in need</li>
				<li>Help someone close to you</li>
			</ul>

			For further details, you can check our project documentation on devpost.com <a href="https://devpost.com/software/help-in-need-bot">here</a>.

			<h1>About Us</h1>
			<ul>
				<li><a href="https://github.com/arielfr">Ariel Rey</a></li>
				<li><a href="https://github.com/hdlopez">Horacio López</a></li>
			</ul>
		</div>
	</div>
</div>
