html,
body {
    font-family: Roboto;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/* Set the size of the div element that contains the map */
.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box .row {

}

.box .row.header {
    flex: 0 1 auto;
    /* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
}

.box .row.content {
    flex: 1 1 auto;
}

#map {
    height: 100%;
}

.navbar {
    overflow: hidden;
    padding: 0px 30px;
    background-color: black;
    height: 60px;
}

.navbar a.logo {
    background-image: url(/logo.png);
    background-repeat: no-repeat;
    padding-left: 68px;
    display: block;
    background-size: 40px 40px;
    background-position-y: 10px;
    background-position-x: 16px;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-family: "Futurist Fixed Width", monospace;
}

.navbar a.right {
    float: right;
}

@media only screen and (max-width: 480px) {
    .navbar {
        padding: 0px 0px;
    }
}

.fb_dialog {
    right: 50pt !important;
}
